<div class='paginated-result'>
    <div class="navigation">
        <button id='csv-button' class='pagination-bt'>Télécharger les résultats en CSV</button>

        <label id="score_nb_lb">Nombre de partitions : 0</label>
        <button id="prevPage" class='pagination-bt'>Page précédente</button>
        <input type=number min=1 value=1 id="page_nb_input" class="page-nb-input">
        <label id="page_max_nb_lb">/ 0</label>
        <button id="nextPage" class='pagination-bt'>Page suivante</button>
        <select id="nb_per_page_select">
            <option value=10>10</option>
            <option value=20>20</option>
            <option value=50>50</option>
            <option value=100>100</option>
            <option value=*>Tout</option>
        </select>
        <label id="nb_per_page_lb"> par page</label>
    </div>

    <div class="results-container" id="results-container">
    </div>

    <div class="navigation">
        <button id="prevPage-bot" class='pagination-bt'>Page précédente</button>
        <label id="page_max_nb_lb-bot">/ 0</label>
        <button id="nextPage-bot" class='pagination-bt'>Page suivante</button>
    </div>

    <div id='pattern' style='display: none;'></div>
    <div id='data' style='display: none;'>[]</div>
</div> 
