<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/semantic.min.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<%- include('./partials/header'); %>
<body class="body-wrapper">
  <div class="searchbar-box">
    <h1 class="searchbar-title">About Us</h1>
  </div>
  <div class="container main-container">
    <div class="ui segment">
      <div class="jumbotron" style="padding:40px;">
        <b>Origine des partitions.</b>
        Ces partitions sont issues du manuscrit <a
            href="https://gallica.bnf.fr/ark:/12148/bpt6k61026071" target="_blank"><i>Essai sur les Antiquit&eacute;s du
              d&eacute;partement du Morbihan</i></a>, de Joseph Mah&eacute;, publi&eacute; en 1825, dont une version num&eacute;rique est
          mise &agrave; disposition dans la Bilioth&egrave;que <a href="https://gallica.bnf.fr/"
            target="_blank">Gallica</a> de la BnF. Ces &oelig;uvres sont &eacute;galement &eacute;tudi&eacute;es dans l'ouvrage <i>Joseph Mah&eacute;
            (1760-1831) Premier collecteur de musique populaire de Haute et Basse-Bretagne</i> de Roland Becker. &EACUTE;ditions
          Dastum, Presses universitaires de Rennes, publi&eacute; en 2017.
        <br/>
        <b>Fichiers d'encodage.</b>
          Pour chacune des partitions, la partition a &eacute;t&eacute; saisie sous <a href="www.musescore.com" target="_blank">MuseScore</a> (.mscz) par Gwenael Piel, et ensuite export&eacute;e au format <a href="https://w3c.github.io/musicxml/" target="_blank">musicXML</a> via MuseScore. 
          À partir du format MusicXML, le projet Skrid a g&eacute;r&eacute;n&eacute;r&eacute; les autres formats. Le format <a href = "https://lilypond.org" target="_blank">lilypond</a> (.ly) a &eacute;t&eacute; obtenu par transcription du fichier musicXML via l'outil <a href = "https://lilypond.org/doc/v2.22/Documentation/usage/invoking-musicxml2ly.fr.html" target="_blank">musicxml2ly</a> de LilyPond. 
              Le format <a href="https://music-encoding.org/" target="_blank">MEI</a> a &eacute;t&eacute; obtenu par transcription du fichier musicXML via l'outil <a href="https://www.verovio.org" target="_blank">verovio</a>. 
   
         </div>
    </div>
  </div>
</body>
<%- include('./partials/footer'); %>
</html>