<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./styles/semantic.min.css" />
    <link rel="stylesheet" href="./styles/home_style.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />
    <link rel="stylesheet" href="./styles/collections_style.css" />

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Verovio -->
    <script src="https://www.verovio.org/javascript/latest/verovio-toolkit-wasm.js" defer></script>

    <!-- Javascript of the page -->
    <script type="text/javascript" src="./scripts/script-collections.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<%- include('./partials/header', { currentPage: 'collections' }); %>
<body>
  <div class="searchbar-box">
    <h1 class="searchbar-title">Les collections : visualiser et t&eacute;l&eacute;charger</h1>
  </div>
  <div class="father_container">
  <div class="collections">
    S&eacute;lectionner la collection &agrave; afficher :<br/><br/>
    <p class="separator"> <hr/> </p>
      <% for(var i = 0; i < authors.length; i++) { %>
        <a href="#" onClick="authorButtonHandler(this.innerText)"><%= authors[i] %></a><br>
        <% if (i != authors.length - 1) { %>
          <p class="separator"> <hr/> </p>
        <% } %>
    <% } %>
        <p class="separator"> <hr/> </p>
    </div>
    <div class="archives">
      <div class="navigation">
        <button id="prevPage" class="prevpage-button">Previous page</button>
        <input type=number min=1 value=1 id="page_nb_input" class="page-nb-input">
        <label id="page_max_nb_lb">/ 0</label>
        <button id="nextPage" class="nextpage-button">Next page</button>
        <select id="nb_per_page_select">
          <option value=10>10</option>
          <option value=15>15</option>
          <option value=20>20</option>
          <option value=100>100</option>
        </select>
        <label id="nb_per_page_lb"> per page</label>
      </div>

      <br/>

      <p id="archives"> </p>
      <br/>
      <br/>
	        Explorer le contenu des fichiers : <br/>
        <div class="results-container" id="results-container">
        </div>
    </div>
  </div>
  <!-- <div id="data" style="display: none;"> -->
  <!--   < %= JSON.stringify(results) %> -->
  <!-- </div> -->
  <div id="authors" style="display: none;">
    <%= JSON.stringify(authors) %>
  </div>
</body> 
<%- include('./partials/footer'); %>
</html>
