<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/semantic.min.css" />
    <link rel="stylesheet" href="./styles/home_style.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />
    <link rel="stylesheet" href="./styles/collections_style.css" />

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<%- include('./partials/header', { currentPage: 'home' }); %>
<body>
  <div class="searchbar-box">
    <h1 class="searchbar-title">Le projet SKRID</h1>
  </div>
  La plateforme SKRID est développée et maintenue par le laboratoire IRISA (site de Lannion). À ce jour, deux collections complètes sont prosposées dans la plateforme SKRID. Une troisième collection est en cours de numérisation.
  <h3 class="container main-container">Recueil Joseph Mah&eacute; : deux collections</h2>
      <div class="jumbotron" style="padding:40px;">
        <div> <b>Origine des partitions.</b>
        Ces partitions sont issues du manuscrit <a
            href="https://gallica.bnf.fr/ark:/12148/bpt6k61026071" target="_blank"><i>Essai sur les Antiquit&eacute;s du
              d&eacute;partement du Morbihan</i></a>, de Joseph Mah&eacute;, publi&eacute; en 1825, dont une version num&eacute;rique est
          mise &agrave; disposition dans la Bilioth&egrave;que <a href="https://gallica.bnf.fr/"
            target="_blank">Gallica</a> de la BnF. Ces &oelig;uvres sont &eacute;galement &eacute;tudi&eacute;es dans l'ouvrage <i>Joseph Mah&eacute;
            (1760-1831) Premier collecteur de musique populaire de Haute et Basse-Bretagne</i> de Roland Becker (&Eacute;ditions
          Dastum, Presses universitaires de Rennes, publi&eacute; en 2017).
            <br/><br/>
        
            
        <b>Fichiers d'encodage.</b>
          Pour chacune des partitions, la partition a &eacute;t&eacute; saisie sous <a href="https://www.musescore.com" target="_blank">MuseScore</a> (.mscz) par Gwenael Piel, et ensuite export&eacute;e au format <a href="https://w3c.github.io/musicxml/" target="_blank">musicXML</a> via MuseScore. 
          À partir du format MusicXML, le projet Skrid a g&eacute;n&eacute;r&eacute; les autres formats. Le format <a href = "https://lilypond.org" target="_blank">lilypond</a> (.ly) a &eacute;t&eacute; obtenu par transcription du fichier musicXML via l'outil <a href = "https://lilypond.org/doc/v2.22/Documentation/usage/invoking-musicxml2ly.fr.html" target="_blank">musicxml2ly</a> de LilyPond. 
              Le format <a href="https://music-encoding.org/" target="_blank">MEI</a> a &eacute;t&eacute; obtenu par transcription du fichier musicXML via l'outil <a href="https://www.verovio.org" target="_blank">verovio</a>. 
              <br/><br/>

              <b>Collections associées :</b>
              <ul>
                  <li> Collection dite "Joseph Mahé Original" contenant les partitions originales</li>
                  <li> Collection dite "Joseph Mahé Transposed" contenant les partitions transposées dans la tonalité Sol Majeur</li>
                </ul>
         </div>
      </div>


      <h3 class="container main-container">Recueil François-Marie Luzel (en cours de numérisation)</h2>
      <div class="jumbotron" style="padding:40px;">
        <div> 	Ces partitions sont issues de l'ouvrage <a href="https://www.dastum.bzh/article/musiques-bretonnes-maurice-duhamel/" target="_blank"><i>Musiques bretonnes</i></a> de Maurice Duhamel, Editions Dastum, 1998 (r&eacute;&eacute;dition du livre de Maurice Duhamel paru en 1913, contenant près de 450 airs qui correspondent aux m&eacute;lodies des chants collect&eacute;s par François-Marie Luzel).
          <br/><br/>
            <b>Fichiers d'encodage.</b>
            Pour une partie des partitions (de l'ouvrage mentionn&eacute; ci-dessus), le projet Skrid a num&eacute;ris&eacute; les partitions via l'outil <a href="https://www.avid.com/products/photoscore-and-notateme-ultimate" target="_blank">Photoscore</a> (aboutissant &agrave; un fichier au format <a href="https://w3c.github.io/musicxml/" target="_blank">musicXML</a>), et les a nettoy&eacute;es (manuellement) via le logiciel <a href="https://www.musescore.com" target="_blank">MuseScore</a> (pour corriger au mieux les erreurs dues au processus de num&eacute;risation). Les formats <a href="https://music-encoding.org/" target="_blank">MEI</a> et SVG ont &eacute;t&eacute; obtenus par transcription du fichier musicXML via l'outil <a href="https://www.verovio.org" target="_blank">verovio</a>.
           Le format <a href = "https://lilypond.org" target="_blank">lilypond</a> (.ly) a &eacute;t&eacute; obtenu par transcription du fichier musicXML via l'outil <a href = "https://lilypond.org/doc/v2.22/Documentation/usage/invoking-musicxml2ly.fr.html" target="_blank">musicxml2ly</a> de LilyPond. 
          <br/><br/>
            Il est &agrave; noter que le processus d'OMRisation (scan de la partition via Photoscore) peut engendrer des pertes au moment de l'encodage, ainsi que quelques erreurs, en particulier d'alignement des textes de port&eacute;e (paroles) avec les &eacute;v&eacute;nements musicaux, ou les traduction des textes (qui se trouvaient sous les partitions d'origine). En raison du grand nombre de partitions trait&eacute;es, toutes les erreurs dues au processus d'OMRisation n'ont pas encore pu être corrig&eacute;es. Certaines (anciennes) notations musicales de la partition d'origine n'ont pas pu être retranscrites dans les formats XML standards. 
         </div>
      </div>


</body>
<%- include('./partials/footer'); %>
</html>
