<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>The Skrid Platform</title>
        <!-- CSS -->
        <link rel="stylesheet" href="./styles/semantic.min.css" />
        <link rel="stylesheet" href="./styles/search_interface_style.css" />
        <link rel="stylesheet" href="./styles/general_style.css" />
        <link rel="stylesheet" href="./styles/manual_query.css" />
        <link rel="stylesheet" href="./styles/paginated_results.css" />

        <!-- CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- JS Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Verovio -->
        <script src="https://www.verovio.org/javascript/latest/verovio-toolkit-wasm.js" defer></script>

        <!-- Javascript of the page -->
        <script type="module" src="./scripts/manual_query_script.js"></script>

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <%- include('./partials/header', { currentPage: 'manual_query' }); %>
    <body>
        <div class="searchbar-box">
            <h1 class="searchbar-title">Ecrire des requêtes</h1>
        </div>
        <div class="content-wrapper">
            <div class='text_area'>
                <label class='label'>Input query :</label>
                <textarea id='text_field' rows=5 cols=115></textarea>

                <div class='send'>
                    <label> 
                        <input type='checkbox' id='fuzzy_cb' value='fuzzy'/>
                        Fuzzy query
                    </label>
                    <button id="submit_bt">Submit</button>
                </div>
            </div>
            <div class='text_area' id='crisp_div' style='display: none;'>
                <label class='label'>Crisp query :</label>
                <textarea id='crisp_field' rows=5 cols=115 readonly></textarea>
                <!-- <button id="submit_crisp_bt">Submit crisp</button> -->
                <button id="submit_crisp_bt" style='visibility: hidden;'>Submit</button>
            </div>
            <label class='label'>Results :</label>
            <label>
                <input type='checkbox' id='text_out_cb' value='text_out'/>
                Text output
            </label>
            <div class='results-div'>
                <div class='text_area'>
                    <textarea id='result_field' rows=20 cols=60 readonly hidden></textarea>
                </div>
                <%- include('./partials/paginated_results.ejs'); %>
            </div>
        </div>
    </body> 
    <%- include('./partials/footer'); %>
</html>

