<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/search_interface_style.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<%- include('./partials/header', { currentPage: 'references' }); %>
  <div class="searchbar-box">
    <h1 class="searchbar-title">Références</h1>
  </div>
  <div class="content-wrapper">
    <h3 class="container main-container">Publications scientifiques liées à la plateforme</h3>
    <div class="jumbotron">
      <ul>
        <li><i>
          <a href="https://hal.science/hal-04681804v1" target="_blank">Database Approaches to the Modelling and Querying of Musical Scores: a Survey.</a></i>
          Adel Aly, Olivier Pivert, Virginie Thion. 
          Proceedings of the Intl. Conf. on Theory and Practice of Digital Libraries (TPDL'24)
          </li>
          
        <li><i>
            <a href="https://www.sciencedirect.com/science/article/pii/S0169023X24000648" target="_blank">Topological querying of music scores.</a></i>
            Philippe Rigaux, Virginie Thion:
        Data Knowl. Eng. journal. 153: 102340 (2024)
        </li>
          
        <li><i><a href="http://www.openscience.fr/Exploration-de-partitions-musicales-modelisees-sous-forme-de-graphe" target="_blank">Exploration de partitions musicales modélisées sous forme de graphe</a></i>,
          Philippe Rigaux, Virginie Thion. 
          Revue Ouverte d'Ingénierie des systèmes d'information, 4(2), 2024.</li>
        <li><i>Towards a Graph-Oriented Perspective for Querying Music Scores</i>,
        Philippe Rigaux, Virginie Thion. 
        Proceedings of the INFORSID conf.</li>
      </ul>
    </div>
  </div>
</body>
<%- include('./partials/footer'); %>
</html>
