<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/home_style.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<%- include('./partials/header', { currentPage: 'references' }); %>
<body class="body-wrapper">
  <div class="searchbar-box">
    <h1 class="searchbar-title">Références</h1>
  </div>

  <h2 class="searchbar-title">Publications scientifiques liées à la plateforme</h2>
  <ul>
    <li><i>Exploration de partitions musicales modélisées sous forme de graphe</i>,
      Philippe Rigaux, Virginie Thion<br/>
      Revue Ingénierie des systèmes d'information RSTI série ISI, à paraître, 2023.</li><br/>
    <li><i>Towards a Graph-Oriented Perspective for Querying Music Scores</i>,
  Philippe Rigaux, Virginie Thion<br/>
  Proceedings of the INFORSID conference, May 2022, Dijon, France</li><br/>
  </ul>
</div>


</body>
<%- include('./partials/footer'); %>
</html>
