<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>The Skrid Platform</title>
    <link rel="stylesheet" href="./styles/semantic.min.css" />
    <link rel="stylesheet" href="./styles/general_style.css" />
    <link rel="stylesheet" href="./styles/result_style.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <!-- Vexflow-->
    <script src="https://unpkg.com/vexflow/releases/vexflow-debug.js"></script>

    <!-- Verovio -->
    <script src="https://www.verovio.org/javascript/latest/verovio-toolkit-wasm.js" defer></script>
    <script src='https://www.midijs.net/lib/midi.js'></script>

    <!-- Javascript of the page -->
    <!-- <script type="text/javascript" src="./scripts/result_script.js"></script> -->
    <script type="module" src="./scripts/result_script.js"></script>


</head>
<%- include('./partials/header', {currentPage: ''}); %>
<body>
  <div class="searchbar-box">
    <h1 class="searchbar-title" id="searchbar_title">Fichier </h1>
  </div>
  <div class="container">
    <div class="score-container">
      <div class="button-container">
        <button id="playMIDI" class="play-button"><i class="fas fa-play"></i></button>
        <button id="stopMIDI" class="stop-button"><i class="fas fa-stop"></i></button>
        <button id="prevPage" class="prevpage-button">Previous page</button>
        <label id="page_info"></label>
        <button id="nextPage" class="nextpage-button">Next page</button>
      </div>
      <div id="notation"></div>
    </div>
    <div class='right-infos'>
      <div class="general_info">
        <p id="author"><b>Auteur :</b> </p>
        <p id="composition_date"><b>Compos&eacute; en :</b> </p>
        <p id="fichier_mei"><b>Fichier MEI :</b> </p>
        <p id="fichier_ly"><b>Fichier LilyPond :</b> </p>
        <p id="fichier_mid"><b>Fichier Midi :</b> </p>
        <p id="fichier_musicxml"><b>Fichier MusicXML :</b> </p>
        <p id="fichier_pdf"><b>Fichier PDF :</b> </p>
        <p id="fichier_svg"><b>Fichier SVG :</b> </p>
      </div>
      <div id='gradient-legend'>
        Match legend :
      </div>
    </div>
  </div>
</body>
<footer>
  <%- include('./partials/footer'); %>
  </footer>


</body>
</html>
