<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Skrid</title>
    <link rel="stylesheet" href="./styles/semantic.min.css" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vexflow/releases/vexflow-debug.js"></script>
</head>
<%- include('./partials/header'); %>
<body>
  <div class="searchbar-box">
    <br><br>
    <h1 class="searchbar-title">Recherchez ton  partition musicale préférée !</h1>
    <form>
      <input type="text" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="container">
    <div class="ui segment">
        <h1>Results</h1>
        <% if(results.length == 0) {%> 
            <p> None found</p>
        <% } else { %>
            <p> I have some results.</p>
        <% } %>
      <p></p>
    </div>
  </div>
</body>
<footer>
  <%- include('./partials/footer'); %>
</footer>

</body> 
</html>