.father_container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
  }
.items {
    flex: 1;
    background-color: #b9d8df;
}
.collections {
    flex: 0 0 20%;
    background-color: #62aadd;
    padding: 15px;
    font-size: 20px;
}
.collections a {
    text-decoration: none;
    color: white;
}
.separator {
    color: white;
}