.father_container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
  }
.items {
    flex: 1;
    background-color: #b9d8df;
}
.collections {
    flex: 0 0 20%;
    background-color: #62aadd;
    padding: 15px;
    font-size: 20px;
}
.collections a {
    text-decoration: none;
    color: white;
}
.separator {
    color: white;
}

.prevpage-button,
.nextpage-button {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    background-color: #bfdaed;
    color: black;
    font-size: 12px;
}

.prevpage-button:hover,
.nextpage-button:hover {
    background-color: #62aadd;
}

.prevpage-button:disabled,
.nextpage-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.page-nb-input {
    width: 40px;
}
