@import url('https://fonts.googleapis.com/css?family=Saira');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Saira', sans-serif; */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    padding-top: 50px;
}
.content-wrapper {
    flex: 1; /* S'étend pour occuper tout l'espace entre le header et le footer */
    display: flex;
    flex-direction: column; /* Organisation flexible pour le contenu interne */
    padding: 20px; /* Ajoute des marges internes pour aérer le contenu */
    box-sizing: border-box; /* Inclut les marges et paddings dans le calcul de la taille */
    overflow: none; /* Permet le défilement si le contenu dépasse */
}
.main-container {
    margin: 0 auto;
    padding: 20px;
}
.jumbotron {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.searchbar-box {
    background-color: #006485;
    height: 7.5vh;
    min-height: 50px;
    max-height: 100px;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.searchbar-title {
    font-size: 30px;
}
form {
    display: inline-block;
    margin-top: 20px;
}
form input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 400px;
}
form button[type="submit"] {
    padding: 8px 16px;
    background-color: #fff;
    color: #20AABD;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: #1e1e1e !important;
    color: white !important;
    padding: 2rem 0 !important;
    text-align: center !important;
    /* S'assure que le footer ne "flotte" pas au milieu */
    position: relative !important;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #006485 !important;
    text-decoration: none !important;
}

.footer a:hover {
    text-decoration: underline !important;
}
/* style for h5 title -> footer */
.no-wrap {
    white-space: nowrap; 
  }
  

label {
    user-select: none;
}

/* Section principale HOME*/
.hero {
    background: #006485;
    color: white;
    padding: 4rem 0;
    text-align: center;
  }

  /* Section des services */
  .services .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .services .card:hover {
    transform: translateY(-5px);
  }

@media screen and (max-width: 615px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        max-width: 100%;
    }
    #collectionMenu{
        z-index: 0;
        width: auto !important;
        position: relative !important;
    }
    .nav {
        width: auto;
    }
    #fatherContainer {
        flex-direction: column !important;
        position: relative !important;
    }
    .archives{
        margin-left: 0 !important;
    }
    #mobileIMG {
        width: 150px;
        height: auto;
        max-width: 100%;
    
    }
}