    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    html, body {
        height: 100%;
    }
    .body-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .main-container {
        flex: 1;
    }
    .searchbar-box {
        background-color: #20AABD;
        height: 25%;
        width: 100%;
        background: linear-gradient(to bottom, #18767E, #20AABD);
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .searchbar-title {
        font-size: 30px;
    }
    form {
        display: inline-block;
        margin-top: 20px;
    }
    form input[type="text"] {
        padding: 8px;
        border: none;
        border-radius: 5px;
        width: 400px;
    }
    form button[type="submit"] {
        padding: 8px 16px;
        background-color: #fff;
        color: #20AABD;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
    }
    .footer {
        background: linear-gradient(to bottom, #18767E, #20AABD);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15%;
        width: 100%;
        font-size: 20px;
        flex-shrink: 0;
      }
      
    .footer .ui.container {
        text-align: center;
    }