.clear_buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.stave_buttons {
  width: 130px;
  height: 60px;
  border-radius: 20px;
  background-color: #62aadd;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
}
.stave_buttons:hover,
#send-button:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container, .container_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#music-score{
  overflow-x: auto;
  /* width: 500px; */
}
#send-button {
  padding: 10px;
  border-radius: 20px;
  background-color: #62aadd;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.options-row label,
.options-row input[type="radio"],
.options-row button {
  margin-right: 10px;
}
.score {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-pattern {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(198, 198, 235);
  width: 1000px;
  margin: 10px;
  position: relative;
}
.options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
}
input[type="radio"] {
  margin-right: 10px;
}
.wrapper {
  padding: 35px 40px;
  width: 950px;
  border-radius: 20px;
  background: #141414;
}
.wrapper header {
  display: flex;
  color: #B2B2B2;
  align-items: center;
  justify-content: space-between;
}
header h2 {
  font-size: 1.6rem;
}
header .column {
  display: flex;
  align-items: center;
}
header span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}
header input {
  outline: none;
  border-radius: 30px;
}
.volume-slider input {
  accent-color: #fff;
}
.keys-checkbox input {
  height: 30px;
  width: 60px;
  cursor: pointer;
  appearance: none;
  position: relative;
  background: #4B4B4B
}
.keys-checkbox input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8c8c8c;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.keys-checkbox input:checked::before {
  left: 35px;
  background: #fff;
}
.piano-keys {
  display: flex;
  list-style: none;
  margin-top: 40px;
  margin-right: 20px;
}
.piano-keys .key {
  cursor: pointer;
  user-select: none;
  position: relative;
  text-transform: uppercase;
  writing-mode:sideways-lr;
}
#silence-bt {
  cursor: pointer;
  user-select: none;
  position: relative;
  /* text-transform: uppercase; */
  /* writing-mode:sideways-lr; */
  height: 70px;
  width: 230px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}
#silence-bt .active {
  box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.rhythm-modif-bt {
    border-radius: 8px;
}

.piano-keys .black {
  z-index: 2;
  width: 44px;
  height: 140px;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}
.piano-keys .black.active {
  box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
  background:linear-gradient(to bottom, #000, #434343);
}
.piano-keys .white {
  height: 230px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.piano-keys .key span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #A2A2A2;
  font-size: 1.13rem;
  text-align: center;
}
.piano-keys .key.hide span {
  display: none;
}
.piano-keys .black span {
  bottom: 13px;
  color: #888888;
}
.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.music-score-box {
  width: 180px;
  height: 250px;
  background-color: #E6F2F8;
  border-radius: 10px;
  border: 2px solid #20AABD;
  padding: 10px;
  margin: 5px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-score-box:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  background-color: #dceaf1;
}
.music-score-box svg {
  max-width: 100%;
  max-height: 100%;
}
.score-preview {
  text-decoration: none;
  color:#000;
  padding: 15px;
}
.score_title {
  margin-left: 8px;
  margin-top: 10px;
}
.score_author {
  font-size: 16px;
  margin-left: 8px;
}

@media screen and (max-width: 815px) {
  .wrapper {
    padding: 25px;
  }
  header {
    flex-direction: column;
  }
  header :where(h2, .column) {
    margin-bottom: 13px;
  }
  .volume-slider input {
    max-width: 100px;
  }
  .piano-keys {
    margin-top: 20px;
  }
  .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
    display: none;
  }
  .piano-keys .black {
    height: 100px;
    width: 40px;
    margin: 0 -20px 0 -20px;
  }
  .piano-keys .white {
    height: 180px;
    width: 60px;
  }
}
@media screen and (max-width: 615px) {
  .piano-keys .key:nth-child(13),
  .piano-keys .key:nth-child(14),
  .piano-keys .key:nth-child(15),
  .piano-keys .key:nth-child(16),
  .piano-keys .key :nth-child(17) {
    display: none;
  }
  .piano-keys .white {
    width: 50px;
  }
}
