.navigation {
    text-align: right;
}

/* .paginated-result { */
/*     flex: 0 0 20%; */
/*     overflow: hidden; */
/* } */

.collections {
    flex: 0 0 20%;
    background-color: #62aadd;
    padding: 15px;
    font-size: 20px;
}

.pagination-bt {
    border-radius: 5px;
    min-height: 30px;
    min-width: 100px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    background-color: #bfdaed;
    color: black;
    font-size: 12px;
    padding: 0 10px;
}

.pagination-bt:hover {
    background-color: #62aadd;
}

.pagination-bt:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

#csv-button {
    float: inline-start;
}

.page-nb-input {
    width: 40px;
}
